<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/1497/1497752.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Employee Management System</title>

    <script defer src="script.js"></script>
  </head>
  <body>
       {{>header}}
   
   
      <div class="header__title">
        <!-- <h1 onclick="alert('HTML alert')"> -->
        <h1>
          Streamlined Employee
          <!-- Green highlight effect -->
          <span class="highlight">Management</span>
          for<br />
          <span class="">Enhanced Efficiency.</span>
        </h1>
           
        <h4>Effortless Connections for a Clutter-Free Employee List.</h4>
        <button class="btn--text btn--scroll-to">Know more &DownArrow;</button>
        <img
          src="https://website-assets-fw.freshworks.com/attachments/cjuwek45n01w4ztg0bh9cvq4q-contact-management-software.one-half.png"
          class="header__img"
          alt="Minimalist items"
        />
      </div>
        {{>footer}}

    <!-- <script src="script.js"></script> -->
  </body>
</html>
